body{
    background-image: url(../img/office2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* header */
header{
    margin: 1em;
}

#logo{
    height: 80px;
    width: auto;
    opacity: 0.7;
    transition: 1s;
    margin-left: 0.75rem;
}

/* main */
#floatingTextarea{
    height: 300px;
}

#floatingTextarea, #usermail{
    opacity: 0.8;
}

/* footer */
footer p{
    font-size: 0.8em;
}

#vcss{
    height: 31px;
    width: auto;
}

footer img{
    height: 50px;
    width: auto;
}

/* animations */
#logo:hover{
    transform: rotate(360deg);
    transition: 1s;
}

/* media queries */
@media (max-width: 767px){
    #floatingTextarea{
        height: 200px;
    }
}

@media (max-width: 576px){
    .fixed-bottom{
        position: relative;
        bottom: 0;
    }
}